<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error - Pharma Jobs India</title>
</head>
<body>
  <h1>Error</h1>
  <p><%= message %></p>
  <a href="/jobs">Back to Jobs</a>
</body>
</html>